timepie.lock
launch.lock
settings.pl
timepie.cron
tasks.vim
tmp

.*.swp
rtm
dst.nb
term.sh
pie-dreeves.html
pie-dreeves.png
tmp.txt
syntax.vim
examples.vim
crontab
hm
tmp.pl
bk.csv
dk.csv
slp.csv
dfdl.txt
test.pl
focals.txt
focals2008.txt
focals2009.txt
timetrack
timetrack/tmp
cecilycarver.log
dgyang.log
dt.log
dummy.log
dyang.log
faire.log
klochner.log
robfelty.log
strehl.log
thatgirl.log
tmp.log
.svnignore
bsoule.tsk
dgyang.tsk
dreeves.tsk
faire.tsk
robfelty.tsk
strehl.tsk
template.tsk
bk.csv
dfdl.txt
dk.csv
facebook.sh
todo
todolist
