timepie.lock
launch.lock
settings.pl
timepie.cron
tasks.vim
tmp

.*.swp
rtm
dst.nb
term.sh
pie-dreeves.html
pie-dreeves.png
syntax.vim
examples.vim
crontab
hm
tmp.pl
test.pl
focals.txt
focals2008.txt
focals2009.txt
timetrack
timetrack/tmp
dgyang.log
dyang.log
klochner.log
robfelty.log
strehl.log
bsoule.tsk
dgyang.tsk
dreeves.tsk
robfelty.tsk
strehl.tsk
facebook.sh
todo
todolist
